@use "variables" as var;

// BUTTON
@mixin button-reset(
  $button-type: transparent,
  $weight: 900,
  $size: 16,
  $text: var.$color-black,
  $cursor: pointer
) {
  background: $button-type;
  border: none;
  font-family: "Raleway";
  color: $text;
  font-weight: $weight;
  font-size: $size;
  cursor: $cursor;
}

// REM BASE
$font-size-base: 16px;

@function toRem($value) {
  @return $value * 1rem;
}

// FLEX
@mixin flex-center($direction: row, $justify: space-between, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin rounded($radius: 30) {
  border-radius: $radius;
}

@mixin border-t($border: 0.25px solid var.$color-black) {
  border-top: $border;
}

@mixin border-b($border: 0.25px solid var.$color-black) {
  border-bottom: $border;
}

@mixin card-shadow {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-radius: 30px;
}

@mixin card-hover-shadow {
  box-shadow: rgba(var.$color-beige, 0.3) 0px 1px 1px,
    rgba(var.$color-beige, 0.7) 0px 2px 2px,
    rgba(var.$color-beige, 0.7) 0px 4px 4px,
    rgba(var.$color-beige, 0.7) 0px 8px 8px,
    rgba(var.$color-beige, 0.7) 0px 16px 16px,
    rgba(var.$color-black, 0.1) 0px 20px 20px;
  border-radius: 30px;
}

@mixin card-hover-shadow-dark {
  box-shadow: rgba(var.$color-beige, 0.3) 0px 1px 1px,
    rgba(var.$color-beige, 0.3) 0px 2px 2px,
    rgba(var.$color-beige, 0.3) 0px 4px 4px,
    rgba(var.$color-beige, 0.3) 0px 8px 8px,
    rgba(var.$color-beige, 0.3) 0px 16px 16px,
    rgba(var.$color-black, 0.05) 0px 20px 20px;
  border-radius: 30px;
}

// À revoir : ne fonctionne pas bien
@mixin text-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 3px -30px 36px -28px inset;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

@mixin palette-shadow($height: 40px, $width: 40px) {
  height: $height;
  width: $width;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-radius: 10px;
}

@mixin transition($duration: 0.5s, $easing: ease) {
  transition: all 0.5s ease;
}

// RESPONSIVE
@mixin tablet {
  @media (min-width: var.$medium) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: var.$large) {
    @content;
  }
}
