@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

//COLORS
$offWhite: #f8f9ff;
$beige: #d7c6a7;
$pale-gray: #e3e4e4;
$grey: #d0d0d0;
$black: #1e1e1e;

$color-offWhite: $offWhite;
$color-beige: $beige;
$color-p-gray: $pale-gray;
$color-grey: $grey;
$color-black: $black;

//FONTS
@font-face {
  font-family: "GaramondItalic";
  src: url(../fonts/ebgaramond-italic-variablefont_wght-webfont.woff2)
      format("woff2"),
    url(../fonts/ebgaramond-italic-variablefont_wght-webfont.woff)
      format("woff");
}

@font-face {
  font-family: "Garamond";
  src: url(../fonts/ebgaramond-variablefont_wght-webfont.woff2) format("woff2"),
    url(../fonts/ebgaramond-variablefont_wght-webfont.woff) format("woff");
}

// BREAKPOINTS
$small: 640px;
$medium: 768px;
$large: 1024px;
