//PARTIALS
@use "partials/mixins" as mixins;
@use "partials/variables" as var;

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var.$color-offWhite;
  padding: 58px 16px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  @include mixins.tablet {
    padding: 58px 70px;
  }
}
