//PARTIALS
@use "partials/mixins" as mixins;
@use "partials/variables" as var;

// MODULES
@use "grid";

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var.$color-p-gray;
  position: relative;
  padding: 2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  @include mixins.tablet {
    padding: 2rem 2rem 2rem 2rem;
  }
  @include mixins.desktop {
    padding: 2rem;
  }

  &.dark-mode {
    background-color: var.$color-black;
    h1,
    h4,
    h5,
    ul,
    li,
    a {
      color: var.$color-offWhite;
    }

    .overlay--close {
      background-color: var.$color-black;
    }

    header {
      .navbar__link {
        color: var.$color-offWhite;

        &:hover,
        &:active {
          color: var.$color-black;
        }
      }

      .navbar {
        &__img,
        &__dark,
        &__menu,
        &__arrow {
          filter: invert(1) brightness(2);
        }
      }

      .hero__logo {
        filter: invert(1) brightness(2);
      }

      .hero__wrapper {
        .header__arrow {
          img {
            filter: invert(1) brightness(2);
            opacity: 0.75;
          }
        }
      }
    }

    #backToTop {
      filter: invert(1) brightness(2);
      opacity: 0.75;
    }

    main {
      .transition,
      .final {
        filter: invert(1) brightness(2);
        opacity: 0.75;
      }

      .projets-holder {
        border-top: 0.25px solid var.$color-offWhite;

        & > button {
          &:hover {
            @include mixins.card-hover-shadow-dark;
          }
        }
      }

      .about {
        &__introduction,
        &__profile,
        &__skills {
          border-top: 0.25px solid var.$color-offWhite;
        }
      }

      .subtitle1 li {
        color: var.$color-black;
      }

      .liensHolder {
        color: var.$color-black;
      }
    }

    .footer {
      &__title {
        border-bottom: 0.25px solid var.$color-offWhite;
      }

      .footer__link {
        color: var.$color-offWhite;

        &:hover,
        &:active {
          color: var.$color-black;
        }
      }

      img {
        filter: invert(1) brightness(2);
      }
    }
  }
}

#backToTop {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  position: fixed;
  box-sizing: border-box;
  bottom: 3rem;
  display: none;
  padding: 0.5rem;
  right: 0;
  cursor: pointer;
  z-index: 100;

  &.show {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

.hidden {
  display: none;
}
