//PARTIALS
@use "partials/mixins" as mixins;
@use "partials/variables" as var;

.menu-burger__container {
  display: flex;
  padding: 0.2rem;
}

.overlay--close {
  background-color: var.$color-p-gray;
  height: 100vh;
  width: 100vw;
  max-width: min(30rem, calc(100% - 3rem));
  position: absolute;
  z-index: 100;
}

.dialog[open] .burger-nav {
  animation: slideInLeft 0.3s forwards;
}

.dialog[closing] .burger-nav {
  animation: slideOutLeft 0.3s forwards;
}

.menu-title {
  background-color: var.$color-beige;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}

.burger-nav {
  display: flex;
  align-items: start;
  justify-content: stretch;
  padding: 3rem 2rem;

  & ul {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    list-style: none;
  }

  & a {
    text-decoration: none;
    color: var.$color-black;

    &:active {
      background-color: var.$color-beige;
      transition: all 0.3s ease-in-out;
      padding: 1rem;
      border-radius: 10px;
    }
  }
}

.burger-nav__btn--close {
  cursor: pointer;

  & h3 {
    cursor: pointer;
    color: var(--blackgrey-color);
  }
}
