//PARTIALS
@use "partials/mixins" as mixins;
@use "partials/variables" as var;

.footer {
  &__title {
    @include mixins.border-b();
    @include mixins.tablet {
      padding-top: 5.1875rem;
    }

    & h2 {
      background-color: var.$color-beige;
      display: inline-block;
      padding: 0.625rem;
      border-radius: 10px;
      transform: translateY(23px);
      position: relative;
      z-index: 1;
      @include mixins.tablet {
        transform: translateY(46px);
      }
    }
  }

  &__info {
    @include mixins.flex-center(column);
    padding-top: 7.7875rem;
    gap: 3rem;
    @include mixins.tablet {
      @include mixins.flex-center();
    }
  }

  &__brand {
    @include mixins.flex-center(column, space-between);
    gap: 2.1875rem;
    @include mixins.desktop {
      @include mixins.flex-center(column, space-between, flex-start);
    }
  }

  &__img {
    color: var.$color-black;
    width: 6.875rem;
  }

  &__particulars {
    @include mixins.flex-center(column, space-between);
    gap: 1rem;
    @include mixins.tablet {
      @include mixins.flex-center(column, space-between, flex-start);
      gap: 2.5rem;
    }
    @include mixins.desktop {
      @include mixins.flex-center(column, space-between, flex-start);
    }

    & a {
      @include mixins.flex-center();
      gap: 1.25rem;
    }
  }

  &__connections {
    @include mixins.tablet {
      @include mixins.flex-center(column, space-between, flex-end);
      gap: 1.2rem;
      text-align: right;
    }
    @include mixins.desktop {
      gap: 6.875rem;
    }
  }

  &__sites {
    @include mixins.flex-center();
    order: 1;
    gap: 3.125rem;
    @include mixins.tablet {
      order: 2;
    }
    @include mixins.desktop {
      order: 1;
    }
  }

  &__nav {
    @include mixins.flex-center(column);
    order: 2;
    @include mixins.tablet {
      order: 1;
    }
    @include mixins.desktop {
      order: 2;
    }

    & a {
      color: var.$color-black;
      padding: 1rem;

      &:link {
        color: var.$color-black;
      }

      &:hover,
      &:active {
        background-color: var.$color-beige;
        border-radius: 10px;
      }

      &:visited {
        color: var.$color-black;
      }
    }

    > ul {
      display: none;
      list-style-type: none;
      @include mixins.tablet {
        @include mixins.flex-center(column);
        align-items: end;
        gap: 0.35rem;
      }
      @include mixins.desktop {
        @include mixins.flex-center();
        gap: 2.5rem;
      }
    }
  }
}
