//PARTIALS
@use "partials/mixins" as mixins;
@use "partials/variables" as var;

@use "grid";

.navbar {
  @include mixins.flex-center($align: flex-start);
  @include mixins.tablet {
    @include mixins.flex-center($align: flex-start);
  }

  &__item {
    @include mixins.transition();
  }

  & a {
    &:link {
      color: var.$color-black;
      padding: 1rem;
    }

    &:hover:not(#dark, .navbar__mode),
    &:active:not(#dark, .navbar__mode) {
      background-color: var.$color-beige;
      border-radius: 10px;
    }

    &:visited {
      color: var.$color-black;
    }
  }

  & h2 {
    background-color: var.$color-beige;
  }

  &__brand {
    @include mixins.flex-center($direction: column, $align: flex-start);
    padding: 1rem 0 1rem 1rem;
    gap: 1.5rem;
  }

  &__name {
    transform: translateY(-3px);
  }

  &__img {
    color: var.$color-black;
    width: 2.12rem;
  }

  &__menu {
    display: flex;
    padding-top: 0.75rem;
    @include mixins.tablet {
      display: none;
    }

    &-fixed {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
    }
  }

  &__list {
    > ul {
      display: none;
      flex-direction: row;
      gap: 2.625rem;
      padding: 1rem;
      list-style-type: none;
      @include mixins.tablet {
        display: flex;
      }
    }
  }

  &__logo {
    @include mixins.flex-center();
    gap: 1.5rem;
  }

  &__subtitle {
    @include mixins.tablet {
      @include mixins.flex-center($justify: flex-end);
      gap: 0.4rem;
    }
  }

  &__mode {
    display: none;
    @include mixins.tablet {
      display: inline-flex;
    }
  }

  &__arrow {
    display: none;
    @include mixins.tablet {
      display: inline-block;
      transition: transform 0.3s ease;
    }
  }

  &__dark {
    display: flex;
    justify-content: flex-end;
    padding-left: 2rem;
    @include mixins.tablet {
      padding-right: 1rem;
      padding-left: 0;
    }
  }
}

.hero__wrapper {
  @include mixins.flex-center(column);
  position: relative;
}

.hero {
  display: inline-flex;
  flex-direction: column;
  padding: 10rem 0 5.5rem 0;
  img {
    width: 6.875rem;
  }

  &__title {
    position: relative;
    z-index: 10;
  }

  &__name {
    position: absolute;
    z-index: 10;
  }

  &__logo {
    @include mixins.flex-center(flex-end);
    position: absolute;
    z-index: 10;
    transform: translateY(-1rem);
    right: 0;
    width: 68px;
    @include mixins.tablet {
      width: 110px;
      transform: translateY(-1.5rem);
      transition: 0.5s ease;
    }
  }
}

.header__arrow {
  padding-top: 5.5rem;

  &-move {
    opacity: 0;
    transition: opacity 3s;
  }
}
