//PARTIALS
@use "partials/mixins" as mixins;
@use "partials/variables" as var;

//MODULES
@use "body";
@use "header";
@use "main.scss";
@use "footer";
@use "grid";

//COMPONENTS
@use "buttons";

h1 {
  color: var.$color-black;
  font-family: "GaramondItalic";
  font-size: 4.6865rem;
  font-weight: 700;
  @include mixins.tablet {
    font-size: 8rem;
    transition: 0.5s ease;
  }
}

h2 {
  color: var.$color-black;
  font-family: "Raleway";
  font-size: 3.125rem;
  font-weight: 400;
  letter-spacing: -0.5%;
}

h3 {
  color: var.$color-black;
  font-family: "Raleway";
  font-size: 2.5rem;
  font-weight: 400;
}

h4 {
  color: var.$color-black;
  font-family: "Raleway";
  font-size: 1.4375rem;
  font-weight: 400;
  letter-spacing: 0.25%;
  @include mixins.tablet {
    font-size: 2.1875rem;
    transition: 0.5s ease;
  }
}

h5 {
  color: var.$color-black;
  font-family: "Raleway";
  font-size: 1.5625rem;
  font-weight: 300;
}

h6 {
  color: var.$color-black;
  font-family: "Raleway";
  font-size: 1.3125rem;
  font-weight: 400;
  letter-spacing: 0.15%;
}

p {
  color: var.$color-black;
  font-family: "Raleway";
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5%;
}

.subtitle1 {
  color: var.$color-black;
  font-family: "GaramondItalic";
  font-size: 1.3125rem;
  font-weight: 400;
  letter-spacing: 0.15%;
}

.subtitle2 {
  color: var.$color-black;
  font-family: "GaramondItalic";
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.1%;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bottom-0 {
  bottom: 0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.rounded {
  border-radius: 30px;
}

.gap-1 {
  gap: 1rem;
}

.p-1 {
  padding: 1rem;
}

.bg-test {
  background-color: magenta;
}

.card-shadow {
  @include mixins.card-shadow;
}

.text-shadow {
  @include mixins.text-shadow;
}

.w-90 {
  display: flex;
  justify-content: stretch;
  width: 92.2%;
  max-width: 100%;
}
