//PARTIALS
@use "partials/mixins" as mixins;
@use "partials/variables" as var;

//MODULES
@use "body";
@use "header";
@use "main.scss";
@use "footer";
@use "grid";

//COMPONENTS
@use "buttons";

h1 {
  color: var.$color-black;
  font-family: "GaramondItalic";
  font-size: 4.6875rem;
  font-weight: 700;
  @include mixins.tablet {
    font-size: 8rem;
    @include mixins.transition;
  }
}

h2 {
  color: var.$color-black;
  font-family: "Raleway";
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: -0.5%;
  @include mixins.tablet {
    font-size: 2.85rem;
  }
  @include mixins.desktop {
    font-size: 3.125rem;
  }
}

h3 {
  color: var.$color-black;
  font-family: "Raleway";
  font-size: 2.125rem;
  font-weight: 400;
  @include mixins.tablet {
    font-size: 2.5rem;
    @include mixins.transition;
  }
}

h4 {
  color: var.$color-black;
  font-family: "Raleway";
  font-size: 1.4375rem;
  font-weight: 400;
  letter-spacing: 0.25%;
  @include mixins.tablet {
    font-size: 1.875rem;
    @include mixins.transition;
  }
  @include mixins.desktop {
    font-size: 2.1875rem;
    @include mixins.transition;
  }
}

h5 {
  color: var.$color-black;
  font-family: "Raleway";
  font-size: 1.25rem;
  font-weight: 300;
  @include mixins.tablet {
    font-size: 1.5625rem;
  }
}

h6 {
  color: var.$color-black;
  font-family: "Raleway";
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.15%;
  @include mixins.tablet {
    font-size: 1.125rem;
  }
}

p,
ul {
  color: var.$color-black;
  font-family: "Raleway";
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5%;
}

a {
  color: var.$color-black;
  font-family: "Raleway";
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 1.25%;
  text-decoration: none;
}

i {
  font-size: 1.8rem;
}

.bold {
  font-weight: 900;
}

.subtitle1 {
  color: var.$color-black;
  font-family: "GaramondItalic";
  font-size: 1.3125rem;
  font-weight: 400;
  letter-spacing: 0.15%;
}

.subtitle2 {
  color: var.$color-black;
  font-family: "GaramondItalic";
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.1%;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.overflow-h {
  overflow: hidden;
}

.align-center {
  align-items: center;
}

.align-left {
  align-items: left;
}

.gap-1 {
  gap: 1rem;
}

.p-1 {
  padding: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-4 {
  padding-right: 4rem;
}

// À retirer à la fin
.bg-test {
  background-color: magenta;
}

// À retirer à la fin
.bg-test-blue {
  background-color: blue;
}

.card-shadow {
  @include mixins.card-shadow;
}

.text-shadow {
  @include mixins.text-shadow;
}

.box {
  box-sizing: border-box;
}

.full-h {
  height: 100%;
}

.full-w {
  width: 100%;
}

.text-right {
  text-align: right;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}
