//PARTIALS
@use "partials/mixins" as mixins;
@use "partials/variables" as var;

// MODULES
@use "grid";

//
.about {
  padding-top: 5.625rem;
  display: flex;
  flex-direction: column;
  @include mixins.tablet {
    padding-top: 5.1875rem;
    transform: translateY(-1.5rem);
    transition: 0.5s ease;
  }

  &__arrow {
    display: flex;
    justify-content: center;
    padding-bottom: 8.25rem;
  }

  &__introduction {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 0.5px solid var.$black;
    padding: 6.25rem 0;
    gap: 1.5rem;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 2.5668rem;
  }

  &__photo img {
    max-width: 100%;
    width: 100%;
    height: 26.25rem;
    object-fit: cover;
    object-position: top center;
    border-radius: 10px;
  }

  &__profile,
  &__skills {
    display: grid;
    grid-template-columns: 25% 54% 21%;
    padding: 6.25rem 0;
    border-top: 0.5px solid var.$black;
  }
}

.projets-holder {
  display: grid;
  gap: 1.25rem;
  width: 1300px;
  grid-template-areas:
    "tuile1 tuile2 tuile3"
    "tuile1 tuile2 tuile3"
    "tuile4 tuile2 tuile5"
    "tuile4 tuile6 tuile5"
    "tuile4 tuile6 tuile5";
  grid-auto-rows: 1fr;
  justify-content: center;

  & > div {
    max-width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;

    button {
      background-color: black;
      border: none;
      color: white;
      cursor: pointer;
      padding: 10px;
      display: block;
      margin: 0 auto;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        background-color: hotpink;
        color: black;
      }
    }
  }

  img {
    width: 100%;
  }
}

.modale-holder {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 50px;
  box-sizing: border-box;

  header {
    display: flex;
    justify-content: space-between;

    button {
      background-color: black;
      border: none;
      color: white;
      cursor: pointer;
      padding: 10px;
      display: block;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        background-color: hotpink;
        color: black;
      }
    }
  }

  .modale-contenu {
    gap: 50px;

    img {
      width: 40%;
    }

    ul {
      list-style-type: none;
      display: flex;

      li {
        &:before {
          content: "\00a0";
        }

        &:not(:last-child) {
          &:after {
            content: " /";
          }
        }

        a {
          transition: all 0.3s ease-in-out;
          position: relative;
          text-decoration: none;
          padding: 0 5px;
          display: inline-block;
          height: 100%;

          &:after {
            background-color: black;
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100%;
            transition: all 0.5s ease-in-out;
            z-index: -1;
          }

          &:link,
          &:visited {
            color: black;
          }

          &:hover,
          &:focus {
            color: white;
            text-decoration: none;

            &:after {
              height: 100%;
            }
          }

          > i {
            margin-left: 10px;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

.flex {
  display: flex;

  &.flex-column {
    flex-direction: column;
  }

  &.align-center {
    align-items: center;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.gap-10 {
    gap: 10px;
  }
}

.hidden {
  display: none;
}
